<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= campgrounds.title %></h1>
    <h1><%= campgrounds.location %></h1>
    <p><a href="/campgrounds/<%= campgrounds._id %>/edit">edit</a></p>
    <p>
        <form action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
</body>
</html>